html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
}

.noMarginTop {
  margin-top: 0;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100%;
  color: #2c363f;
}

.mainTitle {
  padding-top: 5rem;
  margin-top: 0;
  font-family: Phosphate-Solid;
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  text-shadow: 0 -1px -0px #d81a61, -1px 0 -0px #d81a61, -1px -2px 1px #d81a61,
    -2px -1px 1px #d81a61, -2px -3px 1px #d81a61, -3px -2px 1px #d81a61,
    -3px -4px 1px #d81a61, -4px -3px 1px #d81a61, -4px -5px 1px #d81a61,
    -5px -4px 1px #d81a61, -5px -6px 1px #d81a61, -6px -5px 1px #d81a61,
    -6px -7px 1px #d81a61, -7px -6px 1px #d81a61, -7px -8px 0px #d81a61,
    -8px -7px 0px #d81a61, -9px -8px 1px #d81a61, -8px -9px 1px #d81a61,
    -10px -9px 1px #d81a61, -9px -10px 1px #d81a61, -11px -10px 1px #d81a61,
    -10px -11px 1px #d81a61;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  border-top: 0.5px solid #e3dede;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #f5f5f5;
  z-index: 99;
}

.navbarItem {
  margin-top: 0.75rem;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.toggleSignupLoginText {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2c363f;
}

.wordLink {
  text-decoration: none;
  font-style: italic;
  color: #2c363f;
}

.noUnderlineLink {
  text-decoration: none;
  color: white;
}

.blueHeader {
  position: fixed;
  padding-top: 1rem;
  width: 100%;
  height: 3.5rem;
  top: 0;
  background-color: #01bcd6;
}

.blueBackground {
  position: relative;
  background-color: #01bcd6;
  height: 100%;
}

.ButtonPinkCenter {
  border-radius: 5px;
  border-width: 0;
  margin: 5px;
  /* margin-top: 5px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  text-align: center;
  color: white;
  width: 15rem;
  height: 40px;
  background-color: #d81a61;
}

.welcomeButtonContainer {
  margin-top: 5rem;
}

.handsContainer {
  position: absolute;
  margin-top: 3.2rem;
  bottom: 0;
  width: 100%;
  height: 34%;
}

.hands {
  background-image: url("./images/heartHandsps1.png");
  position: center;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
}

.instructionsImageContainer {
  margin-bottom: 50rem;
  /* position: relative; */
}

.instructionsImageContainer .map {
  padding-top: 2rem;
  object-fit: inherit;
  height: 75%;
  width: 75%;
}

.instructionsImageContainer .phone {
  padding-top: 2rem;
  object-fit: inherit;
  height: 75%;
  width: 75%;
}

.instructionsImageContainer img .five{
  /* padding-top: 2rem; */
  object-fit: inherit;
  height: 100%;
  width: 14rem;
}

/* .map { */
  /* background-image: url("./images/map.png"); */
  /* background-size: inherit; */
  /* position: center; */
  /* position: absolute; */
  /* height: 100%; */
  /* width: 40rem; */
  /* margin-left: 2rem; */
  /* margin-bottom: 2rem;
}

.phone {
  /* background-image: url("./images/phone.png"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%; */
  /* margin-left: 0.8rem; */
/* } */

.five {
  /* background-image: url("./images/five.png"); */
  /* position: center; */
  /* background-size: inherit; */
  /* position: absolute; */
  /* height: 30rem;
  width: 0; */
  /* padding-bottom: 7rem; */
}

input,
textarea {
  padding-left: 8px;
  width: 328px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #e0dada;
  background-color: white;
  margin-bottom: 0.5rem;
}
/* 
padding: 2px;
    padding-left: 5px;
    width: 328px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #e0dada;
    background-color: white;
    margin-bottom: 0.5rem; */

.bigAndPink {
  font-family: Phosphate-Solid;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  color: #d81a61;
  margin-top: 0;
}

.bigAndPinkAndAwayFromHeader {
  font-family: Phosphate-Solid;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  color: #d81a61;
  margin-top: 1.8rem;
}

.bigAndPinkJobCardTitle {
  font-family: Phosphate-Solid;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  color: #d81a61;
  margin-top: 0.6rem;
}

#instructionsWelcomeTo {
  font-family: Phosphate-Solid;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  color: #d81a61;
  margin-top: 2rem;
  margin-bottom: 0;
}

#instructionsLoneTitle {
  font-family: Phosphate-Solid;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  color: #d81a61;
  margin-top: 2rem;
  margin-bottom: 0;
}

.bigAndWhite {
  margin-top: 0;
  font-family: Phosphate-Solid;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  color: white;
}

.plainText {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 750;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2c363f;
}

.flexJobsCardsContainer {
  flex-direction: column;
}

.flexJobCard {
  /* flex-direction: column; */
  align-self: center;
  border: 2px;
  border: 0.5px solid #e3dede;
  margin: 5%;
  border-radius: 10px;
  background-color: #f5f5f5;
}

select {
  border-radius: 5px;
  /* border-width: 0; */
  margin: 5px;
  /* margin-top: 5px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  text-align: center;
  color: #2c363f;
  padding-left: 0.5rem;
  border: solid 1px #e0dada;
  background-color: white;

  width: 15rem;
  height: 40px;
}

.navLink {
  text-decoration: none;
  color: #2c363f;
}


.selected {
  text-decoration: none;
  color: #01bcd6;
  /* color: #d81a61 */
}

/* #selected {
  
} */


.textArea {
  height: 10rem;
  margin-top: 1rem;
}

.fixed {
  margin-top: 4.5rem;
  position: fixed;
}

.scrollable {
  overflow-y: scroll;
  height: auto;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}

.instructionsText {
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 750;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2c363f;
}

.bottomRightLink {
  /* position: absolute; */
  text-decoration: none;
  font-style: italic;
  color: #2c363f;
  /* margin-right: 0;
  display: inline-block;
  float: right;  */
  padding-right: 10%;
}

.bottomLeftLink {
  /* position: fixed; */
  text-decoration: none;
  font-style: italic;
  color: #2c363f;
  /* margin-left: 0;
  float: left;  */
  padding-left: 10%;
}

.pagination {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 750;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2c363f;
  margin: 0;
}

.bottomLinkContainer {
  margin-top: 30rem;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  /* display: relative; */
  /* flex-direction: row; */
  /* align-content: wrap;
  position: absolute; */
  /* margin-bottom: 3.5rem; */
  /* display: inline-block; */
  /* margin-right: 3.5rem; */
  /* text-align: right; */
  /* margin-bottom: 0; */
}

.grid-system {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.topMargin {
  margin-top: 0.5rem;
}

.arrowContainer {
  /* width: 100px;
  height: 100px; */
  position: relative;
}

.middleDiv {

}

.fa-sort-down {
  /* margin-right: 7rem; */
  /* width: 100%;
  height: 100%; */
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.8rem;
  margin-right: 6rem;
}
